---
import '../assets/style.css';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Takeaways from '../components/Takeaways.astro';
import BackgroundInfo from '../components/BackgroundInfo.astro';
import Partners from '../components/Partners.astro';
import Downloads from '../components/Downloads.astro';
import Contact from '../components/Contact.astro';
import faviconSvg from '../assets/icon.svg';
import faviconPng from '../assets/icon.png';
import ogImage from '../assets/og.png';

console.log(Astro.site);
---

<!DOCTYPE html>
<html lang="de" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Zivilgesellschaftliches B端ndnis f端r ein Bundestransparenzgesetz
    </title>
    <meta
      name="description"
      content="Die Bundesregierung hat zwar ein Transparenzgesetz versprochen, aber konkrete Planungen gibt es nicht. Deswegen legen wir jetzt selbst eines vor."
    />
    <meta
      property="og:description"
      content="Die Bundesregierung hat zwar ein Transparenzgesetz versprochen, aber konkrete Planungen gibt es nicht. Deswegen legen wir jetzt selbst eines vor."
    />
    <meta property="og:type" content="Website" />
    <meta
      property="og:title"
      content="Zivilgesellschaftliches B端ndnis f端r ein Bundestransparenzgesetz"
    />
    <meta property="og:site_name" content="Transparenzgesetz.de" />
    <meta property="og:image" content={`${Astro.site.origin}${ogImage}`} />
    <meta name="twitter:image" content={`${Astro.site.origin}${ogImage}`} />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" href={faviconSvg} type="image/svg+xml" />
    <link rel="icon" href={faviconPng} type="image/png" />
  </head>
  <body class="font-sans" aria-haspopup="dialog">
    <div class="flex flex-col">
      <Header />

      <main>
        <Hero />

        <Takeaways />

        <BackgroundInfo />

        <Downloads />

        <Partners />

        <Contact />
      </main>
    </div>

    <Footer />

    <!-- Matomo -->
    <script is:inline>
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['setDoNotTrack', true]);
      _paq.push(['disableCookies']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = 'https://traffic.okfn.de/';
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '56']);
        var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
        g.async = true;
        g.src = u + 'matomo.js';
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
  </body>
</html>
